<link rel="stylesheet" type="text/css" href="/css/options.css">
<script src="/js/pizza_pizza.js"></script>

<form method="post" action="pizza_options">
	
	<div class="quantity">
		<input type="number" name="how_many" placeholder="Number of Pizzas" min="1" maxlength="2" required>
	</div><br>
	
	<div class="delivery_buttons">
		<label for="dine_in">Dine In</label>
				<input type="radio" name="delivery_option" id="dining_room" onchange=" adress_dis()" value="dine in" required>
		<label for="delivery">Delivery</label>
				<input type="radio" name="delivery_option" id="no_dining_room" onchange="adress_dis()" value="delivery">	
	</div><br>

	<div class="size_button">
	<%="Size"%><br>
		<label for="small">Small</label>
				<input type="radio" name="pizza_size" id="small_pizza" value="small" required>
		<label for="medium">Medium</label>
				<input type="radio" name="pizza_size" id="med_pizza" value="medium">
		<label for="large">Large</label>
				<input type="radio" name="pizza_size" id="lg_pizza" value="large">
	</div><br>

	<div class="crust_style">
	<%="Crust"%><br>
	<img src=/images/crustsauce/hand_tossed.png>
		<label for="hand tossed">Hand Tossed</label>
				<input type="radio" name="crust_type" id="hand" value="hand tossed" required>
	<img src=/images/crustsauce/pan.png>
		<label for="pan">Pan</label>
				<input type="radio" name="crust_type" id="pan" value="pan">	
	</div><br>

	<div class="sauce_choices">
	<%="Sauce"%><br>
	<img src=/images/crustsauce/marinara.png>
		<label for="marinara">Marinara</label>	
			<input type="radio" name="pizza_sauce" id="marinara_sauce" value="marinara" required>
	<img src=/images/crustsauce/ranch.png>
		<label for="ranch">Ranch</label>
			<input type="radio" name="pizza_sauce" id="ranch_sauce" value="ranch">
	</div><br>

	<div class="topping_choices">
		<div class="meats">
			<img src=/images/toppings/pepperoni.png>
				<input type="checkbox" name="toppings[]" id="pepp" value="pepperoni" class="topping_choices">
					<label for="pepperoni">Pepperoni</label>
			
			<img src=/images/toppings/sausage.png>
				<input type="checkbox" name="toppings[]" id="saus" value="sausage" class="topping_choices">
					<label for="sausage">Sausage</label>
			
			<img src=/images/toppings/ham.png>
				<input type="checkbox" name="toppings[]" id="ham" value="ham" class="topping_choices">
					<label for="ham">Ham</label>
			
			<img src=/images/toppings/mybacon.png>
				<input type="checkbox" name="toppings[]" id="bacon" value="bacon" class="topping_choices">
					<label for="bacon">Bacon</label>
		</div><br>
		<div class="veggies">
			<img src=/images/toppings/green-peppers.png>
				<input type="checkbox" name="toppings[]" id="gpepp" value="green peppers" class="topping_choices">
					<label for="green_peppers">Green Peppers</label>
		
			<img src=/images/toppings/nanpep.png>
				<input type="checkbox" name="toppings[]" id="bpepp" value="banana peppers" class="topping_choices">
					<label for="banana_peppers">Banana Peppers</label>
			
			<img src=/images/toppings/mush.png>
				<input type="checkbox" name="toppings[]" id="mush" value="mushrooms" class="topping_choices">
					<label for="mushrooms">Mushrooms</label>
			
			<img src=/images/toppings/pizza_designer_olives.png>
				<input type="checkbox" name="toppings[]" id="olive" value="olives" class="topping_choices">
					<label for="olives">Olives</label>
			
			<img src=/images/toppings/onions.png>
				<input type="checkbox" name="toppings[]" id="onion" value="onions" class="topping_choices">
					<label for="onions">Onions</label>
		</div><br>
		<div class="extras">
			
			<img src=/images/toppings/pinap.png>
				<input type="checkbox" name="toppings[]" id="pine" value="pineapple" class="topping_choices">
					<label for="pineapple">Pineapple</label>
			
			<img src=/images/toppings/cheese.png>
				<input type="checkbox" name="toppings[]" id="exchez" value="extra cheese" class="topping_choices">
					<label for="extra_cheese">Extra Cheese</label>
		</div><br>
		<div hidden id="adress_bar">
			<input type="text" name="street" class="street_input" placeholder="Street">
        	<input type="text" name="city" class="city_input" placeholder="City">
        	<input type="text" name="state" class="state_input" placeholder="State">
        	<input type="text" name="zip" class="zip_input" placeholder="Zip Code">
		</div>
	</div>


	<button class="button" onClick="valthis()">Submit</button>


</form>




